<div class="container text-white text-center">
    <p class="text-white ">&copy; 2023 - DeskMate - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-decoration-none text-white">Privacy</a></p>
</div>