@model BLL.Entities.Reservation

@{
    ViewBag.Title = "Edit Reservation";
    Layout = "_Layout";
}

@if (Model == null)
{
    <h2>Reservation not found!</h2>
}
else
{
    <h2>Edit Reservation</h2>
}