@using BLL.Entities
@model MVC.Models.Workspace.WorkspaceListModel

@{
    ViewBag.Title = "Workspaces";
    Layout = "_Layout";
}

<div class="d-flex justify-content-center flex-wrap">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Location</th>
            <th>Workspace Name</th>
            <th>Characteristics</th>
            <th class="AvailabilityClass">Current availability</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Workspace workspace in Model.Workspaces)
        {
            @await Html.PartialAsync("Partial/Components/_WorkspacePartial", workspace)
        }
        </tbody>
    </table>
</div>