@using BLL.Entities
@model MVC.Models.Workspace.WorkspaceListModel

@{
    ViewBag.Title = "Workspaces";
    Layout = "_Layout";
}

<div class="d-flex justify-content-center flex-wrap">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Workspace Name</th>
            <th>Characteristics</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Workspace workspace in Model.Workspaces)
        {
            <tr>
                <td>@workspace.Name</td>
                <td>
                    @foreach (Characteristic characteristic in workspace.Characteristics)
                    {
                        <span style="font-weight:200" class="badge  text-black badge-primary mr-2">@characteristic.Amount @characteristic.Type</span>
                    }
                </td>
              
            </tr>
        }
        </tbody>
    </table>
</div>