<div class="d-flex align-items-center justify-content-center bg-primary rounded p-2 px-5 flex-wrap">
    <div class="d-flex justify-content-between align-items-center" style="flex: 1">
        <p class="m-0 date" id="date1" onclick="setDate(-3)">date</p>
        <p class="m-0 date" id="date2" onclick="setDate(-2)">date</p>
        <p class="m-0 date" id="date3" onclick="setDate(-1)">date</p>
    </div>
    <div class="d-flex justify-content-center align-items-center" style="flex: 1">
        <button type="button"
                class="rounded bg-white d-flex align-items-center justify-content-center border-0"
                style="width: 30px; height: 30px; color: #0a53be;"
                onclick="previousDate()">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
            </svg>
        </button>
        <h2 class="m-0 text-white text-center" id="dateSelected" style="width: 200px">selected date</h2>
        <button type="button"
                class="rounded bg-white d-flex align-items-center justify-content-center border-0"
                style="width: 30px; height: 30px; color: #0a53be"
                onclick="nextDate()">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
            </svg>
        </button>
    </div>
    <div class="d-flex justify-content-between align-items-center" style="flex: 1">
        <p class="m-0 date" id="date5" onclick="setDate(1)">date</p>
        <p class="m-0 date" id="date6" onclick="setDate(2)">date</p>
        <p class="m-0 date" id="date7" onclick="setDate(3)">date</p>
    </div>
</div>

<style>
    .date {
        padding: 5px;
        border-radius: .25rem;
        color: white;
    }
    .date:hover {
        background-color: #0a53be;
        cursor: pointer;
    }
</style>

<script>
    const date = new Date();
    
    const date1 = document.getElementById("date1");
    const date2 = document.getElementById("date2");
    const date3 = document.getElementById("date3");
    const dateSelected = document.getElementById("dateSelected");
    const date5 = document.getElementById("date5");
    const date6 = document.getElementById("date6");
    const date7 = document.getElementById("date7");
    
    function getFormattedDate(date) {
        const month = date.toLocaleString('default', { month: 'short' });
        const day = date.toLocaleString('default', { day: 'numeric' });
        const suffix = getDaySuffix(day);
        return `${month} ${day}${suffix}`;
    }
    
    function setDates() {
        date.setDate(date.getDate() - 3);
        date1.innerHTML = date.toLocaleDateString();
        date.setDate(date.getDate() + 1);
        date2.innerHTML = date.toLocaleDateString();
        date.setDate(date.getDate() + 1);
        date3.innerHTML = date.toLocaleDateString();
        date.setDate(date.getDate() + 1);
        dateSelected.innerHTML = getFormattedDate(date);
        date.setDate(date.getDate() + 1);
        date5.innerHTML = date.toLocaleDateString();
        date.setDate(date.getDate() + 1);
        date6.innerHTML = date.toLocaleDateString();
        date.setDate(date.getDate() + 1);
        date7.innerHTML = date.toLocaleDateString();
        date.setDate(date.getDate() - 3);
    }
    
    function previousDate() {
        setDate(-1);
    }
    function nextDate() {
        setDate(1);
    }
    
    function setDate(i) {
        date.setDate(date.getDate() + i);
        setDates();
    }
    
    function getDaySuffix(day) {
      if (day >= 11 && day <= 13) {
        return 'th';
      }
      switch (day % 10) {
        case 1: return 'st';
        case 2: return 'nd';
        case 3: return 'rd';
        default: return 'th';
      }
    }
    
    function onScrollHour(event) {
        event.preventDefault();
        console.log(event);
    }
    
    setDates();
</script>

