@using BLL.Entities
@model BLL.Entities.Workspace

<tr>
    <td>@Model.Name</td>
    <td>
        @foreach (Characteristic characteristic in Model.Characteristics)
        {
            <span style="font-weight:200" class="badge  text-black badge-primary mr-2">@characteristic.Amount @characteristic.Type</span>
        }
    </td>
    <td class="OccupiedClass">
        @if (Model.Occupied)
        {
            <span class="dot red"></span>
        }
        else
        {
            <span class="dot green"></span>
        }
    </td>
</tr>