@using MVC.Models.Partial
@{
    ViewBag.Title = "Date selection";
    Layout = "_Layout";
}

<form method="post" asp-action="SubmitDate">
    <input type="hidden" id="date"/>
    <input type="hidden" id="timeFrom"/>
    <input type="hidden" id="timeTo"/>
    @await Html.PartialAsync("Partial/Components/_DateSelectorPartial")
    <div class="d-flex justify-content-between flex-wrap mt-3">
        @await Html.PartialAsync("Partial/Components/_TimeSelectorPartial", new TimeSelectorModel { Type = "From", Date = DateTime.Now })
        @await Html.PartialAsync("Partial/Components/_TimeSelectorPartial", new TimeSelectorModel { Type = "To", Date = DateTime.Now.AddHours(1) })
    </div>
</form>