@model SelectionModel

@{
    ViewBag.Title = "Selection";
    Layout = "_Layout";
}

<h1>Workspace reservation</h1>

<hr class="my-5"/>

@using (Html.BeginForm("Selection", "Selection", FormMethod.Post, new { id = "form" }))
{
    @Html.HiddenFor(model => model.Step, new { id = "step" })

    @if (Model.Step >= 1)
    {
        @await Html.PartialAsync("Partial/DateTimeSelection", Model)
    }

    @if (Model.Step >= 2)
    {
        <hr class="my-5"/>
        @await Html.PartialAsync("Partial/EmployeeSelection", Model)
    }

    @if (Model.Step >= 3)
    {
        <hr class="my-5"/>
        @await Html.PartialAsync("Partial/WorkspaceSelection", Model)
    }
}